.buttons {
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  button {
    width: 42px;
    height: 42px;
    background: #ffffff;
    color: #000000;
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    &:hover {
      box-shadow: 0px 5px 18px rgba(82, 202, 182, 0.78);
    }
  }
}
.section__pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
  .page_around {
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  .page {
    padding: 8px;
    border: solid 1px #e7e7e7;
    margin-right: 10px;
    min-width: 40px;
    text-align: center;
    transition: 0.5s;
    border-radius: 32px;
    &:hover {
      background: #000000;
      color: #ffffff;
      cursor: pointer;
    }
  }
  .page__selected {
    background: #000000;
    color: #ffffff;
    cursor: default;
  }
}

.search {
  width: 420px;
  height: 56px;
  background: #f4f4f4;
  border-radius: 10px;
  padding: 0 22px;
  border: 1px solid #f4f4f4;
  margin-bottom: 32px;
  font-family: Gilroy;
  font-size: 16px;
  line-height: 19px;
  color: #1f3f68;
}
